#startpage {
    width: 1500px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
#start {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#poopingdog {
    width: 230px;
    height: 200px;
    background-image: url(poopy.png);
    position: absolute;
    left:1000px;
    bottom: 0px;
    animation: dog 5s ;
    animation-fill-mode: both;
    animation-delay: 2s; 
}

#pipicacadog {
    width: 230px;
    height: 200px;
    background-image: url(pipicaca.png);
    position: absolute;
    left: 300px;
    bottom: 0px;
    animation: doggy 5s ;
    animation-fill-mode: both;
    animation-delay: 2s; 
}

@keyframes dog {
    0% {
        left: 250px;
    }
    50% {
        left: 500px;
    }
    80% {
        left: 1000px;
    }
    100% {
        left: 1500px;
    }
}

@keyframes doggy {
    0% {
        left: 0px;
    }
    50% {
        left: 700px
    }
    100% {
        left: 1500px;
    }
}