@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

.game {
    background-image: url(gamebackground.png);
    max-width: 1500px;
    height: 700px;
    position:relative;
    margin: auto;
    
}

#player {
    width: 100px;
    height: 135px;
    background-image: url(./gameCharacter.png);
    background-size: 100px;
    position: absolute;
    bottom: 0px; 
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 600px;
    }

    30% {
        top: 400px;
    }
    50% {
        top: 200px;
    }
    80% {
        top: 450px;
    }
    100% {
        top: 600px;
    }
}

.caca {
    display: none;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 1400px;
    background-image: url(./poop.png);
    background-size: 70px;
}

.cacaActive {
    animation: obstacle 2s linear;
}

@keyframes obstacle {
    0% {
        left: 1420px;
    }
    100% {
        left: -30px;
    }

}


.grosCaca {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 1400px;
    width: 90px;
    height: 90px;
    background-image: url(./groscaca.png);
    background-size: 90px;
}

.grosCacaActive {
    animation: obstacletwo 2s linear; 
}


@keyframes obstacletwo {
    0% {
        left: 1420px;
    }
    100% {
        left: -30px;
    }
}


.pipi {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 1400px;
    width: 90px;
    height: 90px;
    background-image: url(./pipi.png);
    background-size: 90px;
}
.pipiActive {
    animation: obstacleThree 2.5s linear; 
}


@keyframes obstacleThree {
    0% {
        left: 1800px;
    }
    100% {
        left: -30px;
    }
}

#balle {
    display: none;
    position: relative;
    top: 100px;
    left: 1400px;
    width: 70px;
    height: 70px;
    background-image: url(./balle.png);
    background-size: 70px;
}
.balleActive {
    animation: obstacletwo 2s infinite linear; 
}

.cacaDead {
    animation: isdead 1s linear;
    animation-fill-mode: forwards;
}

@keyframes isdead {
    0% {left : 1420px;}
    100% {left : 100px;}
}


#score {
    position: absolute;
    top: 10%;
    right: 7%;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    color: rgba(238, 128, 181, 0.89);
}


#gameOver {
    display: none;
}
.over {
    font-size: 150px;
    position: absolute;
    left: 40%;
    top: 0%;
    width: 300px;
    height: 200px;
    color: white;
    font-family: 'Fredoka One', cursive;
    margin: 0px;
    padding: 0px;
}

.startpage {
    position: absolute;
    right: 7%;
    top: 45%;
}
.playagain {
    position: absolute;
    right: 7%;
    top: 40%;
}